<% modal ||= false %>
<% remote = modal ? true : false %>
<%= form_for(@person, remote: remote) do |f| %>

  <div class="form-group">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>

  <div class="form-group">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>

  <div class="actions">
    <%= f.submit 'Submit', class: 'btn btn-default' %>
  </div>
<% end %>