<h1>Welcome Appointments</h1>
<h4><%= link_to "Patients" ,patients_path %></h4>
<h4><%= link_to "Doctors" ,doctors_path %></h4>
<h4><%= link_to "Appointment" ,appointments_path %></h4>
<h4><%= link_to "Simple_form" ,entries_path %></h4>
<h4><%= link_to "nested_form",users_path %></h4>
<h4><%= link_to "Paperclip",photos_path %></h4>
<h4><%= link_to "Multiple paperclip",images_path %></h4>